:root {
    --first : #3CD6CC;
    --second: #27B0A8;
    --third: #3ECF81;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    padding: 12px 12px;
    box-shadow: 0 5px 15px rgba(0,0,0, 0.06);
}

.logo-official {
    width: 5%;
}

#navbar-list {
    display: flex;
    align-items: center;
}

#navbar-list > li {
    font-family: monospace;
    list-style: none;
    font-size: 16px;
    cursor: pointer;
    color: var(--second);
    padding: 0 12px;
    font-weight: bold;
    transition: all ease 0.5s;
}

#navbar-list li a:hover {
    color: var(--first);
}

#navbar-list li a.active {
    color: var(--first);
    text-decoration: underline;
}

.mobile {
    display: none;
}

.mobile i{
    color: var(--first);
    cursor: pointer;
}

@media screen and (max-width: 769px) {
    #navbar-list {
        padding: 20px 0 0 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;      
        position: fixed;
        top: 42px;
        right: -300px;
        width: 240px;
        height: 120vh;
        background-color: var(--second);
        box-shadow: 0 5px 15px rgba(0,0,0, 0.06);
        transition: all ease 0.5s;
    }

    #navbar-list.active {
        right: 0px;
    }

    #navbar-list li {
        color: white;
        font-weight: lighter;
        margin-bottom: 40px;
    }

    #navbar-list li a:hover {
        color: white;
        font-weight: bold;
    }

    #navbar-list li a.active{
        color: white;
        text-decoration: underline;
        font-weight: bold;
    }

    .mobile {
        display: block;
    }

    .mobile i {
        font-size: 24px;
    }
}